body {
    font-family: Helvetica;
    text-align: center;
}
.design h1 {
    font-size: 70px;
    font-weight: bold;
    color:white
}
.design p {
    font-size: 18px;
    color:white
}

.process h2{
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}
.NY h3{
    font-size: 23px;
    font-weight: bold;
    color:white;
}

p {
    font-size: 14px;
}

.ppage {
    text-align: left;
    font-size:11px;
    background-color: dimgray;
    color:white;
}
